In [1]:
import pandas as pd

In [2]:
# Load dataframes
current = pd.read_csv('data/Current_Sheet.csv')
emissions_limited = pd.read_csv('data/Emissions_Limited_2040.csv')
business_as_usual = pd.read_csv('data/Business_as_Usual_2080.csv')
bau_plus_1degree = pd.read_csv('data/BAU_plus_1degree_2080.csv')
all_ubc_CAT = pd.read_csv('data/all_ubc_CAT_format.csv')

In [3]:
#inner Merge the dataframes on the Taxon column
#
merged_df = pd.merge(all_ubc_CAT, current, on='Taxon', how='inner')

merged_df

,AccNoFull,ItemAccNoFull,AccYear,Family,Genus,Species,ItemLocationCode,LocationCoordY,LocationCoordX,LifeForm,...,mean_annual_ temp_celcius,mean_hottest_month_celcius,mean_coldest_quarter_celsius,mean_annual_precipitation mm/year,mean_driest_quarter mm/qtr,tree_on_CAT,PLANTSEARCH,URBANPLANTS,GBIF_CURRENT,GBIF_BGCI
0,1981-0006,1981-0006.01,1981,Oleaceae,Abeliophyllum,distichum,1P,-123.247566,49.254466,Shrub,...,10.78260,26.7000,0.224999,1086.500,123.75,False,135.0,NaN,48.0,NaN
1,1998-0819,1998-0819.01,1998,Oleaceae,Abeliophyllum,distichum,1P,-123.247566,49.254466,Shrub,...,10.78260,26.7000,0.224999,1086.500,123.75,False,135.0,NaN,48.0,NaN
2,2014-0168,2014-0168.01,2014,Oleaceae,Abeliophyllum,distichum,3AAF,-123.251150,49.253642,Shrub,...,10.78260,26.7000,0.224999,1086.500,123.75,False,135.0,NaN,48.0,NaN
3,1999-0404,1999-0404.01,1999,Oleaceae,Abeliophyllum,distichum,1C01,-123.246025,49.253365,Shrub,...,10.78260,26.7000,0.224999,1086.500,123.75,False,135.0,NaN,48.0,NaN
4,1999-0404,1999-0404.02,1999,Oleaceae,Abeliophyllum,distichum,1P02,-123.247670,49.254563,Shrub,...,10.78260,26.7000,0.224999,1086.500,123.75,False,135.0,NaN,48.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26691,2001-0365,2001-0365.01,2001,Zingiberaceae,Zingiber,mioga,3AAB,-123.250190,49.253756,Herbaceous Perennial,...,13.94030,27.8500,4.945840,1260.000,164.00,False,49.0,NaN,481.0,NaN
26692,2001-0365,2001-0365.02,2001,Zingiberaceae,Zingiber,mioga,3AAB,-123.250190,49.253756,Herbaceous Perennial,...,13.94030,27.8500,4.945840,1260.000,164.00,False,49.0,NaN,481.0,NaN
26693,2020-0469,2020-0469.01,2020,Apiaceae,Zizia,aurea,1M06,-123.247253,49.253226,Herbaceous Perennial,...,9.50347,28.5000,-1.566670,968.000,182.25,False,86.0,NaN,838.0,NaN
26694,2020-0324,2020-0324.01,2020,Rhamnaceae,Ziziphus,jujuba,1M03,-123.247134,49.253148,Tree,...,15.46120,30.0357,6.331250,919.625,87.50,True,15.0,5.0,369.0,329.0
26695,2021-0644,2021-0644.88,2021,Rhamnaceae,Ziziphus,jujuba,8,-123.234415,49.249515,Tree,...,15.46120,30.0357,6.331250,919.625,87.50,True,15.0,5.0,369.0,329.0

In [ ]:
# left merge to retain all rows from all_ubc_CAT_format and add matching rows from Current_Sheet
left_merged_df = pd.merge(all_ubc_CAT, current, on='Taxon', how='left')

left_merged_df

## Attempt to visualize the climate rating as a color dot

In [5]:
# Load dataframes
current = pd.read_csv('data/Current_Sheet.csv')
emissions_limited = pd.read_csv('data/Emissions_Limited_2040.csv')
business_as_usual = pd.read_csv('data/Business_as_Usual_2080.csv')
bau_plus_1degree = pd.read_csv('data/BAU_plus_1degree_2080.csv')
all_ubc_CAT = pd.read_csv('data/all_ubc_CAT_format.csv')

# Extracting only the Taxon and climate_rating columns
current_climate = current[['Taxon', 'climate_rating']].rename(columns={'climate_rating': 'Current'})
emissions_limited_2040 = emissions_limited[['Taxon', 'climate_rating']].rename(columns={'climate_rating': '2040'})
business_as_usual_2080 = business_as_usual[['Taxon', 'climate_rating']].rename(columns={'climate_rating': '2080'})
bau_plus_1degree_2080 = bau_plus_1degree[['Taxon', 'climate_rating']].rename(columns={'climate_rating': '2080_plus_1_degree'})

# Merge datasets on Taxon
merged_df = current_climate.merge(emissions_limited_2040, on='Taxon', how='outer')\
                            .merge(business_as_usual_2080, on='Taxon', how='outer')\
                            .merge(bau_plus_1degree_2080, on='Taxon', how='outer')

# Correcting the column names and extracting the required columns from the master list
selected_columns_df = all_ubc_CAT[['ItemAccNoFull', 'LocationCoordX', 'LocationCoordY', 'LifeForm', 'Taxon']]

# Merge with the previously merged dataset on 'Taxon'
final_merged_df = selected_columns_df.merge(merged_df, on='Taxon', how='inner')

# Show the resulting merged dataset
final_merged_df.head()

,ItemAccNoFull,LocationCoordX,LocationCoordY,LifeForm,Taxon,Current,2040,2080,2080_plus_1_degree
0,1981-0006.01,49.254466,-123.247566,Shrub,Abeliophyllum distichum,11,9,3,3
1,1998-0819.01,49.254466,-123.247566,Shrub,Abeliophyllum distichum,11,9,3,3
2,2014-0168.01,49.253642,-123.251150,Shrub,Abeliophyllum distichum,11,9,3,3
3,1999-0404.01,49.253365,-123.246025,Shrub,Abeliophyllum distichum,11,9,3,3
4,1999-0404.02,49.254563,-123.247670,Shrub,Abeliophyllum distichum,11,9,3,3