In [2]:
import pandas as pd

In [3]:
# Load dataframes
current = pd.read_csv('data/Current_Sheet.csv')
emissions_limited = pd.read_csv('data/Emissions_Limited_2040.csv')
business_as_usual = pd.read_csv('data/Business_as_Usual_2080.csv')
bau_plus_1degree = pd.read_csv('data/BAU_plus_1degree_2080.csv')
all_ubc_CAT = pd.read_csv('data/all_ubc_CAT_format.csv')

In [4]:
#inner Merge the dataframes on the Taxon column
#
merged_df = pd.merge(all_ubc_CAT, current, on='Taxon', how='inner')

merged_df.head()

,AccNoFull,ItemAccNoFull,AccYear,Family,Genus,Species,ItemLocationCode,LocationCoordY,LocationCoordX,LifeForm,...,mean_hottest_month_celcius,mean_coldest_quarter_celsius,mean_annual_precipitation mm/year,mean_driest_quarter mm/qtr,tree_on_CAT,obs_record1,obs_record2,obs_record3,obs_record4,obs_record5
0,1981-0006,1981-0006.01,1981,Oleaceae,Abeliophyllum,distichum,1P,-123.247566,49.254466,Shrub,...,26.7,0.224999,1086.5,123.75,False,GBIF_CURRENT=48,NaN,PLANTSEARCH=135,NaN,NaN
1,1998-0819,1998-0819.01,1998,Oleaceae,Abeliophyllum,distichum,1P,-123.247566,49.254466,Shrub,...,26.7,0.224999,1086.5,123.75,False,GBIF_CURRENT=48,NaN,PLANTSEARCH=135,NaN,NaN
2,2014-0168,2014-0168.01,2014,Oleaceae,Abeliophyllum,distichum,3AAF,-123.251150,49.253642,Shrub,...,26.7,0.224999,1086.5,123.75,False,GBIF_CURRENT=48,NaN,PLANTSEARCH=135,NaN,NaN
3,1999-0404,1999-0404.01,1999,Oleaceae,Abeliophyllum,distichum,1C01,-123.246025,49.253365,Shrub,...,26.7,0.224999,1086.5,123.75,False,GBIF_CURRENT=48,NaN,PLANTSEARCH=135,NaN,NaN
4,1999-0404,1999-0404.02,1999,Oleaceae,Abeliophyllum,distichum,1P02,-123.247670,49.254563,Shrub,...,26.7,0.224999,1086.5,123.75,False,GBIF_CURRENT=48,NaN,PLANTSEARCH=135,NaN,NaN

In [5]:
# left merge to retain all rows from all_ubc_CAT_format and add matching rows from Current_Sheet
left_merged_df = pd.merge(all_ubc_CAT, current, on='Taxon', how='left')

left_merged_df

,AccNoFull,ItemAccNoFull,AccYear,Family,Genus,Species,ItemLocationCode,LocationCoordY,LocationCoordX,LifeForm,...,mean_hottest_month_celcius,mean_coldest_quarter_celsius,mean_annual_precipitation mm/year,mean_driest_quarter mm/qtr,tree_on_CAT,obs_record1,obs_record2,obs_record3,obs_record4,obs_record5
0,2019-0848,2019-0848.01,2019,Amaryllidaceae,x Amarine,tubergenii,2A02,-123.250668,49.254134,"Bulb, Corm, or Tuber",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2012-0321,2012-0321.01,2012,Bignoniaceae,x Chitalpa,tashkentensis,1P06,-123.247523,49.254298,Tree,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2013-0248,2013-0248.01,2013,Bignoniaceae,x Chitalpa,tashkentensis,2A04,-123.250711,49.254001,Tree,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1986-0076,1986-0076.01,1986,Cupressaceae,x Cupressocyparis,leylandii,1P,-123.247566,49.254466,Tree,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1989-0460,1989-0460.02,1989,Araliaceae,x Fatshedera,lizei,1P02,-123.247670,49.254563,Shrub,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47095,2022-0176,2022-0176.88,2022,Poaceae,Zizania,aquatica,8,-123.234415,49.249515,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47096,1972-0107,1972-0107.01,1972,Apiaceae,Zizia,aptera,1B33,-123.245151,49.253289,Herbaceous Perennial,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47097,2020-0469,2020-0469.01,2020,Apiaceae,Zizia,aurea,1M06,-123.247253,49.253226,Herbaceous Perennial,...,28.5000,-1.56667,968.000,182.25,False,GBIF_CURRENT=838,NaN,PLANTSEARCH=86,NaN,NaN
47098,2020-0324,2020-0324.01,2020,Rhamnaceae,Ziziphus,jujuba,1M03,-123.247134,49.253148,Tree,...,30.0357,6.33125,919.625,87.50,True,GBIF_BGCI=329,GBIF_CURRENT=369,NaN,URBANPLANTS=5,PLANTSEARCH=15
47099,2021-0644,2021-0644.88,2021,Rhamnaceae,Ziziphus,jujuba,8,-123.234415,49.249515,Tree,...,30.0357,6.33125,919.625,87.50,True,GBIF_BGCI=329,GBIF_CURRENT=369,NaN,URBANPLANTS=5,PLANTSEARCH=15